<?xml version="1.0" encoding="ISO-8859-1"?>
<page>
	<title>
		Title
	</title>
	<content>
		<![CDATA[
			You can put whatever HTML you want in here.<br>
			This will represent the content of this page.
		]]>
  </content>

</page>
